.main{
  background-color: rgb(247, 244, 241);
  min-height: 100vh;
}

.title{
  font-size : 35px;
  font-weight: 900;
  color: rgb(57, 54, 79);
  text-align: center;
}

.cardTitle{
  font-size: 20px;
  font-weight: 700;
  color:rgb(57, 54, 79);
  letter-spacing: 0.25px;
  ;
}

.cardDate{
  font-size: 16px;
  font-weight: 600px;
  color: rgb(209, 65, 12);
  justify-content: center;
  ;
}

.card{
  display: block;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.521);
  padding: 4px 16px;
  justify-content: center;
}

.card:hover{
  box-shadow: 0 16px 64px -16px rgb(46 55 77 / 24%);
}

.eventList{
display:flex;
gap: 12px;
width: 100%;
justify-content: center;
}

.buttons {
  display:flex;
  justify-content: center;
  padding-top: 16px;
}
.buttons button {
 background-color: transparent;
 border: none;
 padding: 16px 8px;
 font-size: 20px;
 cursor: pointer;
}
.buttons button.active {
  color: blue;
  border-bottom: 2px solid blue;
}

.eventTitle{
  font-size: 20px;
}

.eventDescription{
  font-size: 15px;
}

.eventDate{
  font-size: 15px;
}

.eventTicketutton{
  color: black;
}

.typeEvent{
  font-size: 20px;
  position: relative;
  display: block;
  height: 3px;
  width: 100%;
  background: black;
}